<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vol2">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vol2">
        <activity
            android:name=".MainActivity_DeviceB_Program3"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DeviceB_Program2"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DeviceB_Program1"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DeviceA_Program5"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DeviceA_Program4"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DeviceA_Program3"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DeviceA_Program2"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DeviceA_Program1"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DeviceB_3"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DeviceA_2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>